@layer base {
    body {
        font-family: 'Outfit', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: rgba(99, 102, 241, 0.2);
    color: rgb(79, 70, 229);
}

/* Custom Scrollbar for modern feel */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(203, 213, 225, 0.5);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(148, 163, 184, 0.5);
}